@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #22c55e;
  --foreground: #ffffff;
}

.dark {
  --background: #166534;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}