@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #22c55e;
  --foreground: #ffffff;
}

.dark {
  --background: #16a34a;
  --foreground: #ffffff;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  background-color: #22c55e;
}

html.dark {
  background-color: #16a34a;
}