@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ef4444; /* red-500 */
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ef4444; /* red-500 */
    --foreground: #ffffff;
  }
}

html {
  background-color: #ef4444;
}

body {
  background-color: #ef4444;
  color: rgb(var(--foreground));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}